.Header {
  width: 100%;
  height: 3rem;
  background: rgb(16, 55, 99);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Header__Link {
  margin: 0 1rem;
  transition: 0.5s;
}

.Header__Link:hover {
  color: rgb(110, 174, 202);
}

.Header--Menu {
  font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .Header .Header__Pages,
  .Header__Login {
    display: none;
  }

  .Header__Responsive {
    position: fixed;
    width: 100%;
    height: 12rem;
    background: rgb(16, 55, 99);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    opacity: 0.9;
    padding-top: 1rem;
    z-index: 1000;
  }

  .Header__Responsive .Header__Login {
    display: block;
  }
  .Header__Responsive .Header__Pages {
    display: flex;
    flex-direction: column;
  }
  .Header__Responsive .Header__Pages a {
    padding: 0.25rem;
  }
}
