.Header {
  width: 100%;
  height: 3rem;
  background: rgb(16, 55, 99);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Header__Link {
  margin: 0 1rem;
  transition: 0.5s;
}

.Header__Link:hover {
  color: rgb(110, 174, 202);
}

.Header--Menu {
  font-size: 1.5rem;
  display: none;
}
.Header__Title {
  font-family: monospace;
  font-size: 1.25rem;
}
@media screen and (max-width: 1024px) {
  .Header .Header__Pages,
  .Header__Login {
    display: none;
  }

  .Header__Responsive {
    position: fixed;
    width: 100%;
    height: 12rem;
    background: rgb(16, 55, 99);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 0.75rem;
    z-index: 1000;
  }

  .Header__Responsive .Header__Title {
    display: none;
  }

  .Header__Responsive .Header__Login {
    display: block;
  }
  .Header__Responsive .Header__Pages {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    color: rgb(16, 55, 99);
    border-radius: 5px;
  }
  .Header__Responsive .Header__Pages a {
    padding: 0.25rem;
  }
  .Header--Menu {
    display: block;
  }
}
