.Card {
  position: relative;
  width: 20.5rem;
  height: 25rem;
  border-radius: 1rem;
  background-color: rgb(16, 55, 99);
  --borderWidth: 3px;
  border-radius: var(--borderWidth);
  display: grid;
  grid-template-areas:
    "picture"
    "info";
  grid-template-rows: 0.4fr 0.6fr;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
}

.Card__Picture {
  border-radius: var(--borderWidth) var(--borderWidth) 0 0;
  object-fit: cover;
  grid-area: picture;
}

.Card__Information {
  border-radius: 0 0 var(--borderWidth) var(--borderWidth);
  grid-area: info;
  display: grid;
  grid-template-areas:
    "gameName gameName"
    "release release"
    "genres genres"
    "rating rating";
  grid-template-rows: 0.4fr auto;
  grid-template-columns: 0.4fr 1fr;
  padding: 0 0.75rem;
}

.Card__Information__Name {
  grid-area: gameName;
  display: flex;
  align-items: center;
  color: rgb(122, 240, 201);
}

.Card__Information__Release,
.Card__Information__Genres,
.Card__Information__Rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: normal;
}

.Card__Information__Release::after,
.Card__Information__Genres::after,
.Card__Information__Rating::after {
  position: absolute;
  content: "";
  left: 0;
  margin-top: 1.5rem;
  width: 100%;
  height: 1px;
  background-color: rgb(161, 165, 185);
}

.Card__Information__Release :first-child,
.Card__Information__Genres :first-child,
.Card__Information__Rating :first-child {
  color: rgb(161, 165, 185);
}

.Card__Information__Release {
  grid-area: release;
}
.Card__Information__Genres {
  grid-area: genres;
}
.Card__Information__Rating {
  grid-area: rating;
}

.Card__Information__Genres a:hover {
  color: rgb(110, 174, 202);
}

.Card__Heart {
  position: absolute;
  right: 0;
  padding: 0.5rem;
  color: rgb(122, 240, 201);
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .Card__Heart {
    font-size: 2rem;
  }
}

@media screen and (max-width: 350px) {
  .Card,
  .Card a img,
  .Card__Information {
    width: 16rem;
    transition: 300ms;
  }
}
