.Card {
  position: relative;
  width: 20.5rem;
  height: 25rem;
  border-radius: 1rem;
  background-color: rgb(16, 55, 99);
  --borderWidth: 3px;
  border-radius: var(--borderWidth);
  display: grid;
  grid-template-areas:
    "picture"
    "info";
  grid-template-rows: 0.4fr 0.6fr;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
}

.Card:hover:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Card__Picture {
  // background-color: green;
  //overflow: hidden;
  border-radius: var(--borderWidth) var(--borderWidth) 0 0;
  object-fit: cover;
  grid-area: picture;
}

.Card__Information {
  // background-color: red;
  border-radius: 0 0 var(--borderWidth) var(--borderWidth);
  grid-area: info;
  display: grid;
  grid-template-areas:
    "platform platform"
    "gameName gameName"
    "infoKey infoValue";
  grid-template-rows: 0.25fr 0.4fr 1fr;
  grid-template-columns: 0.4fr 1fr;
  padding: 0 0.25rem;
}

.Card__Information__Platform {
  grid-area: platform;
  display: flex;
  align-items: center;
}

.Card__Information__Name {
  grid-area: gameName;
  display: flex;
  align-items: center;
  color: rgb(122, 240, 201);
}
.Card__Information__InfoKey {
  position: relative;
  grid-area: infoKey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border-bottom-left-radius: var(--borderWidth);
}

.Card__Information__InfoKey div::after {
  position: absolute;
  content: "";

  left: 0;
  margin-top: 1.25rem;
  width: 100%;
  height: 1px;
  background-color: rgb(161, 165, 185);
}

.Card__Information__InfoValue div::after {
  position: absolute;
  content: "";
  left: 0;
  margin-top: 1.25rem;
  width: 100%;
  height: 1px;
  background-color: rgb(161, 165, 185);
}

.Card__Information__InfoValue {
  grid-area: infoValue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  border-bottom-right-radius: var(--borderWidth);
}

.CardInformationKeyAndValue {
  font-size: 12px;
  font-weight: normal;
}

.CardInformationKeyAndValue a:hover {
  color: rgb(110, 174, 202);
  transition: 0.75s;
}
