.Dialog {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(90, 135, 193, 0.5);
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Dialog__Container {
  width: 30rem;
  height: 10rem;
  background-color: white;
  border-radius: 1rem;
}

.Dialog__Container__Text {
  b {
    color: rgb(40, 70, 206);
    padding: 0.25rem 0;
  }
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.Dialog__Container__Button {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 3rem;
}

.Dialog__Container__Button button {
  border: none;
  outline: none;
  font-size: 1.25rem;
  background-color: transparent;
  cursor: pointer;
  color: rgb(40, 70, 206);
}

.Dialog__Container__Button a {
  background-color: rgb(40, 70, 206);
  color: white;
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  margin: 0 1rem;
}
