.Favourites {
  width: 100%;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Favourites p {
  background-color: white;
  padding: 1rem;
  border-radius: 5rem;
}

@media screen and (max-width: 330px) {
  .Favourites p {
    font-size: 0.75rem;
    transition: 300ms;
  }
}
