.Game {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "gameName"
    "media"
    "description"
    "info"
    "tag"
    "website"
    "comment";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  transition: 2s;
}

.Game a {
  transition: 0.75s;
}

.Game a:hover {
  color: rgb(147, 253, 200);
}

.Game div {
  justify-self: center;
}

.Game > div > p {
  color: rgb(147, 253, 200);
}
.Game > div > b {
  color: rgb(147, 253, 200);
}

.Game__Name {
  grid-area: gameName;
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.Game__Media {
  grid-area: media;
  margin: 0 auto;
  object-fit: cover;
}
.Game__Media video {
  width: 100%;
  height: auto;
}

.Game__Description {
  grid-area: description;
  width: 40%;
  text-align: justify;
  margin: 1rem 0;
  color: white;
}

.Game__Info {
  width: 40%;
  display: grid;
  grid-area: info;
  grid-template-areas:
    "platforms metascore"
    "genres release"
    "developer publisher";
  align-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 0.5fr 0.5fr;
  margin-bottom: 1rem;
}

.Game__Info div {
  width: 100%;
}

.Game__Info div p {
  color: rgb(147, 253, 200);
}

.Game__Info div div {
  color: rgb(255, 255, 255);
}

.Game__Metascore,
.Game__Release,
.Game__Publisher {
  text-align: end;
}
.Game__Platforms {
  grid-area: platforms;
}
.Game__Metascore {
  grid-area: metascore;
}
.Game__Genres {
  grid-area: genres;
}
.Game__Release {
  grid-area: release;
}
.Game__Developer {
  grid-area: developer;
}
.Game__Publisher {
  grid-area: publisher;
}

.Game__Tag {
  width: 40%;
  margin-bottom: 1rem;
  grid-area: tag;
}

.Game__Tag div,
.Game__Website div {
  color: white;
}
.Game__Website {
  width: 40%;
  margin-bottom: 1rem;
  grid-area: website;
}
.Game__Comment {
  width: 40%;
  margin-bottom: 1rem;
  grid-area: comment;
}

.Game__Comment div {
  width: 100%;
}

.Game__Comment div form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Game__Comment div form textarea {
  width: 100%;
  text-indent: 0.25rem;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  resize: none;
}

.Game__Comment div form input {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(147, 253, 200);
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1rem;
  color: rgb(16, 55, 99);
  font-weight: bolder;
}

.Game__Comment div form input:hover {
  background-color: rgb(131, 235, 183);
}

.Game__UserComments {
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0.5rem 0;
  border-radius: 5px;
}
.Game__UserComments__Header {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  color: rgb(16, 55, 99);
}

.Game__UserComments__Header img {
  border-radius: 10000px;
  margin-right: 0.25rem;
}

.Game__UserComments__Footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem 0.25rem;
}

.Game__UserComments__Footer p:last-child {
  color: rgb(16, 55, 99);
}
@media screen and (max-width: 1024px) {
  .Game__Description,
  .Game__Tag,
  .Game__Website,
  .Game__Info {
    width: 90%;
  }
}
